{% extends "layout.html" %}
{% block body %}
    <section class="section">
        <div class="container">
            <div class="box">
                <article class="media">
                    <figure class="media-left">
                        {#<p class="image is-2by3">#}
                        <img class="image" src="{{ book.url }}">
                        {#</p>#}
                    </figure>
                    <div class="media-content">

                        <h1 class="title">{{ book.title }}</h1>
                        <h2 class="subtitle">{{ book.authors }}</h2>
                        <p><strong>Publication year:</strong> {{ book.year }}</p>
                        <p><strong>Average rating:</strong>{% if ra %}
                        <span class="fa fa-star {% if book.rating >= 1 %}checked{% endif %}"></span>
                        <span class="fa fa-star {% if book.rating >= 2 %}checked{% endif %}"></span>
                        <span class="fa fa-star {% if book.rating >= 3 %}checked{% endif %}"></span>
                        <span class="fa fa-star {% if book.rating >= 4 %}checked{% endif %}"></span>
                        <span class="fa fa-star {% if book.rating == 5 %}checked{% endif %}"></span>
                        {% else %}
                        No ratings available
                        {% endif %}
                        <p><strong>ISBN:</strong> {{ book.isbn }}<small> (ISBN13: {{ book.isbn13 }})</small></p>
                        </p>
                    </div>
                </article>
            </div>
            <div class="box">
                {% for review in reviews %}
                    <article class="media">
                        <figure class="media-left">
                            <p class="image is-64x64">
                                <img src="https://bulma.io/images/placeholders/128x128.png">
                            </p>
                        </figure>
                        <div class="media-content">
                            <div class="content">
                                <p>
                                    <strong>{{ review.username }} </strong>
                                    <small>{{ review.time }} - {{ review.date }}</small>
                                    <br>

                                    <span class="fa fa-star {% if review.rating >= 1 %}checked{% endif %}"></span>
                                    <span class="fa fa-star {% if review.rating >= 2 %}checked{% endif %}"></span>
                                    <span class="fa fa-star {% if review.rating >= 3 %}checked{% endif %}"></span>
                                    <span class="fa fa-star {% if review.rating >= 4 %}checked{% endif %}"></span>
                                    <span class="fa fa-star {% if review.rating == 5 %}checked{% endif %}"></span>
                                    <br>
                                    {{ review.review }}
                                </p>
                            </div>
                        </div>
                    </article>
                {% endfor %}
                {% if allowed %}
                    <article class="media">
                        <figure class="media-left">
                            <p class="image is-64x64">
                                <img src="https://bulma.io/images/placeholders/128x128.png">
                            </p>
                        </figure>
                        <form class="media-content" method="post" action="{{ url_for('review') }}">
                            <div class="field">
                                <p class="control">
                                    <textarea class="textarea" name="review" placeholder="Add a comment..."></textarea>
                                </p>
                            </div>
                            <input type="hidden" value="{{ id }}" name="book_id">
                            <div class="field is-grouped">
                                <div class="control">
                                    <div class="content">
                                        <fieldset class="rating">
                                            <input type="radio" id="star5" name="rating" value="5"/>
                                            <label class="full" for="star5" title="Awesome - 5 stars"></label>
                                            <input type="radio" id="star4" name="rating" value="4"/>
                                            <label class="full" for="star4" title="Pretty good - 4 stars"></label>
                                            <input type="radio" id="star3" name="rating" value="3"/>
                                            <label class="full" for="star3" title="Meh - 3 stars"></label>
                                            <input type="radio" id="star2" name="rating" value="2"/>
                                            <label class="full" for="star2" title="Kinda bad - 2 stars"></label>
                                            <input type="radio" id="star1" name="rating" value="1"/>
                                            <label class="full" for="star1" title="Sucks big time - 1 star"></label>
                                        </fieldset>
                                    </div>
                                </div>

                                <p class="control">
                                    <button class="button">Post comment</button>
                                </p>
                            </div>
                        </form>
                    </article>
                {% else %}
                    <article class="media">
                        <figure class="media-left">
                            <p class="image is-64x64">
                                <img src="https://bulma.io/images/placeholders/128x128.png">
                            </p>
                        </figure>
                        <div class="media-content">
                            <div class="field">
                                <p class="control">
                                    <textarea class="textarea" placeholder="Add a comment..." disabled></textarea>
                                </p>
                            </div>
                            <div class="field">
                                <p class="control">
                                    <button class="button" disabled>Post comment</button>
                                </p>
                            </div>
                        </div>
                    </article>
                {% endif %}
            </div>
        </div>
    </section>
{% endblock %}